* {
  margin: 0;
}

.app{
  background-color: #fafafa;
}

.app__postsRight{
  margin-left: 20px;
}

.app__posts{
  padding: 20px;
  display: flex;
  justify-content: center;
}

.app__header{
  z-index: 1;
  position: sticky;
  top: 0;
  background-color: white;
  padding: 20px;
  border-bottom: 1px solid lightgray;
  object-fit: contain;
  display: flex;
  justify-content: space-between;
}

.app__headerImage {
  object-fit: contain;
}
.app__signup {
  display: flex;
  flex-direction:column;
}

@import url('https://fonts.googleapis.com/css?family=Quicksand&display=swap');

h3{
  font-family:Quicksand;
}
.alert{
width:40%;
margin:15px auto;
padding:20px;
position:relative;
border-radius:5px;
box-shadow:0 0 15px 5px #ccc;
background-color: #ffd48a;
display: flex;
object-fit: contain;
justify-content: center;

}
.warning-alert{
  background-color: #ffd48a;

}

@media only screen and (max-width: 600px) {
  .alert {
    /* background-color: lightblue; */
    font-size: 12px;
    width:70%;

  }
  .app__sigin{
    margin-left: 1.3em;
  }
}
